@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 155 80% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 100%;
    --accent: 155 80% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 155 80% 45%;
    --chart-1: 155 80% 45%;
    --chart-2: 0 80% 50%;
    --chart-3: 45 100% 50%;
    --chart-4: 30 100% 50%;
    --chart-5: 220 90% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 155 80% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 100%;
    --accent: 155 80% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 155 80% 45%;
    --chart-1: 155 80% 45%;
    --chart-2: 0 80% 50%;
    --chart-3: 45 100% 50%;
    --chart-4: 30 100% 50%;
    --chart-5: 220 90% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
  }
}
